# Dependencies
node_modules/

# Build outputs
dist/
client/dist/

# Environment files
.env
.env.prod
.env.local
.env.*.local
env.prod

# Logs
*.log
npm-debug.log*

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

/uploads/
/test-results/
